:root {
	--radius: 0.45rem;
}

.projects {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-template-rows: auto;
	gap: 1.90rem;
	z-index: 999;
}

.project-wrapper {
	height: 100%;
	position: relative;
	padding-bottom: 1.775rem;
}

.project {
	height: 100%;
	display: flex;
	flex-direction: column;
	border-radius: var(--radius);
	min-height: 12rem;
	box-shadow: 8px 8px 10px #bebebe,
							-8px -8px 20px #ffffff;
	background-color: white;
}

.image-container {
	width: 100%;
}

.portrait-holder {
	border-radius: var(--radius) var(--radius) 0 0;
	overflow: clip;
}

.portrait {
	width: 100%;
	transform: scale(1.16);
	object-fit: cover;
	transition: transform 0.4s ease-in-out;
}

.project:hover .portrait, .project-footer:hover .portrait {
	transform: scale(1.06);
}

.project-info {
	height: 100%;
	padding: 0.4rem 0.8rem 0rem 0.8rem;
}

.project-info__title {
	font-size: 1.20rem;
	color: #4A4A4A;
	font-weight: 600;
	text-align: center;
}

.project-info__description {
	margin-top: 0.875rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--text-gray);
}

.projects__tags  {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-top: 0.2rem;
	padding: 0.8rem;
}

.tag {
	display: flex;
	align-items: center;
	column-gap: 0.25rem;
	font-size: 0.75rem;
	line-height: 1rem;
	border-radius: 90px;
	padding: 0.25rem 0.45rem;
}

.project-footer {
	position: absolute;
  bottom: -1.35rem;
  left: 0.25rem;
  text-align: center;
}

.project-pill {
	border: 1px solid rgba(0, 0, 0, 0.25);
	background-color: rgb(243, 244, 246);
	padding: 0.5rem 0.75rem;
	border-radius: 0.75rem;
	font-size: 1rem;
	line-height: 1.25rem;
	vertical-align: middle;
	display: inline-flex;
	align-items: center;
	gap: 0.25rem;
	transition: all 0.4s ease;
}

.project-pill:hover {
	background-color: white;
}

.bg-react {
	background-color: #007da0;
}

.bg-nextjs {
	background-color: black;
}

.bg-express {
	background-color: #353535;
}

.bg-tailwind {
	background-color: #003159;
}

.bg-postgresql {
	background-color: #004e8a;
}

.bg-nestjs {
	background: linear-gradient(90deg, #940016, #910030);
}

.bg-styledcomponents {
	background: linear-gradient(30deg, #dc6f94, #f2b561);
}