---
import './Experiences.css';

const { experiences } = Astro.props;
---

<div class="experiences">
	<ol>
		{experiences.map((experience: any) => (
			<li>
				<div class="experience">
					<span class="experience__dot">•</span>
					<div class="experience-info">
						<div class="experience-title">
							<h3 class="experience-title__job">{experience.name}</h3>
							<h4 class="experience-title__company">{experience.company}</h4>
							<span class="experience-title__time">
								<time>{experience.date}</time>
							</span>
						</div>
						<div class="experience-info__description">
							{experience.description}
						</div>
					</div>
				</div>
			</li>
		))}
	</ol>
</div>