.experiences {
	display: flex;
	align-items: center;
}

.experience {
	display: flex;
	margin: 0 0.5rem 0 3rem;
	position: relative;
	padding: 1.2rem 0;
}

.experience::before {
	content: "";
	border-left: 2px solid #D3D3D3;
	margin-right: 40px;
	position: absolute;
	height: 100%;
	left: -36px;
}

.experience__dot {
	color: #3de680;
	font-size: 3rem;
	position: absolute;
	left: -44px;
}

.experience-title__job {
	color: #2A9A57;
	line-height: 1.75rem;
	font-size: 1.25rem;
}

.experience-title__company {
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.75rem;
	color: #4A4A4A;
}

.experience-title__time {
	font-size: 0.85rem;
	color: var(--text-gray);
}

.experience-info__description {
	margin-top: 1rem;
	text-wrap: pretty;
	color: var(--text-gray);
}

@media (min-width: 768px) {
	.experience {
		margin: 0 3rem;
	}

	.experience-info__description {
		max-width: 75ch;
	}
}