.about {
	display: flex;
	justify-content: space-between;
}

.about__text {
	text-wrap: pretty;
	max-width: 40rem;
}

.about__text > p {
	margin-bottom: 1rem;
}

.about__text > p > strong {
	color: #2A9A57;
}

.about__img {
	width: 16rem;
	height: 16rem;
	transform: translateY(-35px);
}

.me-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.4));
	border-radius: 0.8rem;
}