---
import './About.css';
---

<article class="about">
	<div class="about__text">
		<p>
			Me llamo José Córdova, comencé en el mundo de la programación a mis 15 cuándo por curiosidad hice mi primera calculadora en C. La curiosidad me llevó a explorar nuevos lenguajes y tecnologías, y hoy, con años de experiencia, sigo disfrutando del proceso de aprendizaje y descubrimiento
		</p>
		<p>
			A lo largo de los años, he explorado diversos lenguajes y tecnologías, consolidando mi experiencia. Disfruto mucho compartir mis conocimientos, he ayudado a muchos amigos y conocidos a adentrarse en el mundo de la programación.
		</p>
		<p>
			Como freelancer, busco nuevos desafíos que me permitan contribuir a la innovación y al éxito de mis clientes, siempre con el objetivo de impulsar la transformación digital.
		</p>
	</div>
	<div class="about__img">
		<img class="me-img" src="/me.webp"/>
	</div>
</article>