---
import Layout from '../layouts/Layout.astro';
import Headline from '../components/Headline/Headline.astro';

import '../styles/index.css';
---
<Layout title="Jose Cordova">
	<main>
		<Headline />
	</main>
</Layout>

<style>
</style>
