.headline {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3.5rem 1.2rem 0;
	margin-bottom: 14rem;
}

.headline__name {
	font-weight: bold;
	font-size: 2.3rem;
	color: transparent;
	background-image: linear-gradient(to right, #174417, #2A9A57);
	background-clip: text;
	text-align: center;
}

.avatar__img {
	width: 14rem;
	height: 14rem;
}

.avatar__img > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.headline__description {
	font-size: 1.15rem;
	margin-top: 2rem;
	text-wrap: pretty;
}

.headline__social {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2.5rem;
	gap: 0.35rem;
}

.headline__social > a {
	display: flex;
	align-items: center;
	gap: 0.1rem;
	padding: 0.25rem 1rem;
	border-radius: 99px;
	font-size: 0.95rem;
}

@media (min-width: 768px) {
	.headline {
		padding: 9.5rem 0 0;
	}

	.headline__name {
		font-size: 4rem;
	}

	.headline__description {
		font-size: 1.5rem;
		margin-top: 1rem;
		max-width: 60ch;
	}

	.headline__social {
		margin-top: 1rem;
		max-width: 42rem;
		gap: 0.75rem;
	}
}