---
import './Headline.css';
import LinkedIn from '../icons/LinkedIn.astro';
import Email from '../icons/Email.astro';

const CONTACTS = [
	{
		name: "Correo",
		link: "mailto:jmcordova1999@gmail.com",
		icon: Email
	},
	{
		name: "LinkedIn",
		link: "https://www.linkedin.com/in/cordovajose/",
		icon: LinkedIn
	},
	{
		name: "Correo",
		link: "mailto:jmcordova1999@gmail.com",
		icon: Email
	},
	{
		name: "Correo",
		link: "mailto:jmcordova1999@gmail.com",
		icon: Email
	}
]
---

<section data-section="headline" class="headline">
	<span class="headline__name">
		Soy Jos칠 C칩rdova
	</span>
	<div class="avatar">
		<div class="avatar__img">
			<img src="/avatar.webp" alt="Avatar" />
		</div>
	</div>
	<p class="headline__description">
		<strong>Ingeniero en Inform치tica</strong> con +5 a침os de experiencia de Quito, Ecuador 游쀯릖.
		Avanzando hacia la digitalizaci칩n.
	</p>
	<div class="headline__social">
		{CONTACTS.map((contact) => (
			<a href={contact.link} target="_blank">
				<contact.icon />
				{contact.name}
			</a>
		))}
	</div>
</section>