---
import './Headline.css';
import LinkedIn from '../icons/LinkedIn.astro';
import Email from '../icons/Email.astro';

const { headline } = Astro.props;

const CONTACTS = [
	{
		name: "Email",
		link: "mailto:jmcordova1999@gmail.com",
		icon: Email
	},
	{
		name: "LinkedIn",
		link: "https://www.linkedin.com/in/cordovajose/",
		icon: LinkedIn
	}
]
---

<section data-section="headline" class="headline">
	<span class="headline__name">
		{ headline.name }
	</span>
	<div class="avatar">
		<div class="avatar__img">
			<img src="/avatar.webp" alt="Avatar" />
		</div>
	</div>
	<p class="headline__description" set:html={headline.description} />
	<div class="headline__social">
		{CONTACTS.map((contact) => (
			<a class="general-pill" href={contact.link} target="_blank">
				<contact.icon />
				{contact.name}
			</a>
		))}
	</div>
</section>